@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    color: #1e1c2a;
    height: 100vh;
    max-height: 950px;
    width: 100%;
}

header {
    box-shadow: 0px 1px 10px #1e1c2aa1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    padding: 15px;
    font-size: 1.5em;
} /*FooD PeeK*/

span {
    color: #d63a25;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    padding: 15px;
    margin-right: 5%;
} 

.links a {
    text-decoration: none;
    color: #1e1c2a;
}

.links a:hover {
    transition: 0.3s ease-in-out;
    text-decoration: none;
    color: #d63a25;
}/*Links da navegação*/



main {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.corpo {
    padding: 5%;
}

main h1 {
    color: #d63a25;
}

h2 {
    font-weight: bold;
    font-size: 3em;
    max-width: 450px;
}

p {
    max-width: 400px;
}

button {
    margin-top: 10%;
    padding: 15px;
    margin-bottom: 5%;
    background-color: #d63a25;
    color: white;
    border: none;
    width: 40%;
    border-radius: 10px;
}

button:hover {
    transform: translateY(-20%);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

button:focus {
    transition: 0.3s ease-in-out;
    color: #d63a25;
    background-color: white;
    border: 1px solid #1e1c2a;
}

.foto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

img {
    width: 35vw;
}